.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
}

.fixwidth {
  width: 100px;
}

.signature-canvas {
  width: 70% ;
  height: 500px ;
  border: 1px solid black ;
}


input, select {
  font-size: 15px;
  width: 120px;
  margin: 12px;
}
.btn {
  font-size: large;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
#red {
  background-color: red;
  color: white;
}
#green {
  background-color: green;
  color: white;
}
#orange {
  background-color: orange;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
